html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: #fff;
}

body {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
}

.heading-primary {
  font-family: "overpass";
  color: #fff;
  font-size: 3.6rem;
  margin-bottom: 1.5rem;
}

.heading-secondary {
  font-family: "overpass";
  color: #1f3f5b;
  font-size: 3.2rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.heading-tertiary {
  font-family: "overpass";
  color: #1f3f5b;
  font-size: 2.8rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.header__heading--sub {
  font-family: "overpass";
  color: #fff;
  font-size: 1.6rem;
  font-weight: 300;
  margin-bottom: 1.5rem;
}

.container {
  width: 85%;
  margin: 0 auto;
}

.flex-row-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.my-3 {
  margin: 3rem 0;
}

.my-6 {
  margin: 6rem 0;
}

.mb-3 {
  margin-bottom: 3rem;
}

.py-10 {
  padding: 10rem 0;
}

.text-center {
  text-align: center;
}

.header-bg {
  min-height: 80vh;
  background-image: linear-gradient(to right bottom, rgba(255, 143, 112, 0.8), #ff3d54), url(../../images/bg-pattern-intro.svg);
  background-position: center;
  border-radius: 0 0 0 8rem;
  background-repeat: no-repeat;
}
.header .nav {
  padding: 3rem 2rem;
  display: flex;
}
.header .nav__logo--link {
  color: #fff;
  font-size: 4rem;
  text-decoration: none;
}
.header .nav__toggler {
  margin: 1.3rem 0 0 auto;
  cursor: pointer;
}
.header .nav__toggler--icon {
  display: inline-block;
  width: 4rem;
  height: 3px;
  background-color: #fff;
  border-radius: 5rem;
  transition: all 0.5s;
  position: relative;
  top: 7px;
  left: 0;
}
.header .nav__toggler--icon::before, .header .nav__toggler--icon::after {
  display: inline-block;
  width: 4rem;
  height: 3px;
  background-color: #fff;
  border-radius: 5rem;
  transition: all 0.5s;
  content: "";
  border-radius: 5rem;
  position: absolute;
}
.header .nav__toggler--icon::before {
  top: -10px;
}
.header .nav__toggler--icon::after {
  top: 10px;
}
.header .nav__toggler.toggle .nav__toggler--icon {
  background-color: rgba(0, 0, 0, 0);
}
.header .nav__toggler.toggle .nav__toggler--icon::before {
  top: -4px;
  transform: rotate(-45deg);
}
.header .nav__toggler.toggle .nav__toggler--icon::after {
  top: -4px;
  transform: rotate(-135deg);
}
.header__text-box {
  text-align: center;
  margin: 0 auto;
  padding: 12rem 3rem;
}
.header__text-box .header__btns {
  margin-top: 3.2rem;
}
.header__text-box .header__btns .btn {
  margin-right: 0.5rem;
}
@media screen and (min-width: 576px) {
  .header__text-box .header__btns .btn:first-child {
    margin-right: 2rem;
  }
}

.btn {
  display: inline-block;
  background-color: #ccc;
  padding: 1rem 2rem;
  border-radius: 5rem;
  font-weight: 700;
}
.btn-fill {
  background-color: #fff;
  color: #ff525d;
}
.btn-outline {
  background-color: transparent;
  border: 1px solid #fff;
}
.btn-outline:hover {
  background-color: #ff7a85;
}

.feature__heading {
  text-align: center;
}
.feature__illustration {
  height: 50vh;
  width: 100%;
  background-image: url("../../images/illustration-editor-mobile.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
@media screen and (min-width: 1200px) {
  .feature__illustration {
    order: 2;
    height: 80vh;
    background-image: url("../../images/illustration-editor-desktop.svg");
  }
}
@media screen and (min-width: 1200px) {
  .feature__box {
    flex-direction: row;
  }
}
.feature__items {
  margin-top: 4rem;
  padding: 0 5rem;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .feature__items {
    text-align: left;
  }
}
.feature__items .feature__item {
  margin-bottom: 5rem;
}
.feature__items .feature__item p {
  font-size: 1.8rem;
  color: #4b5862;
  font-weight: 300;
  line-height: 2;
}

/*# sourceMappingURL=main.css.map */
