html {
  font-size: 50%;
}
@media screen and (min-width: 576px) {
  html {
    font-size: 62.5%;
  }
}
@media screen and (min-width: 992px) {
  html {
    font-size: 68%;
  }
}

body {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: #fff;
}

body {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
}

.heading-primary {
  font-family: "overpass";
  color: #fff;
  font-size: 4.2rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.heading-secondary {
  font-family: "overpass";
  color: #1f3f5b;
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.heading-tertiary {
  font-family: "overpass";
  color: #1f3f5b;
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.header__heading--sub {
  font-family: "overpass";
  color: #fff;
  font-size: 1.6rem;
  font-weight: 300;
  margin-bottom: 1.5rem;
}

.header__heading--primary {
  font-size: 3.6rem;
}
@media screen and (min-width: 992px) {
  .header__heading--primary {
    font-size: 4.2rem;
  }
}

.feature__item .item__text {
  color: #4b5862;
  font-weight: 300;
  line-height: 2;
}

.container {
  width: 95%;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .container {
    margin: 0 auto;
    width: 90%;
  }
}

.flex-row-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.my-3 {
  margin: 3rem 0;
}

.my-6 {
  margin: 6rem 0;
}

.mb-3 {
  margin-bottom: 3rem;
}

.py-10 {
  padding: 10rem 0;
}

.text-center {
  text-align: center;
}

.header-bg {
  position: relative;
  min-height: 65vh;
  background-image: linear-gradient(to right bottom, rgba(255, 143, 112, 0.8), #ff3d54), url(../../images/bg-pattern-intro.svg);
  background-position: center;
  border-radius: 0 0 0 8rem;
  background-repeat: no-repeat;
}
@media screen and (min-width: 768px) {
  .header-bg {
    min-height: 80vh;
  }
}
.header .nav {
  padding: 2rem;
  display: flex;
}
@media screen and (min-width: 768px) {
  .header .nav {
    padding: 3rem 12rem;
  }
}
.header .nav__logo--link {
  color: #fff;
  font-size: 4rem;
  text-decoration: none;
}
.header .nav__toggler {
  margin: 1.3rem 0 0 auto;
  cursor: pointer;
}
.header .nav__toggler--icon {
  display: inline-block;
  width: 4rem;
  height: 3px;
  background-color: #fff;
  border-radius: 5rem;
  transition: all 0.5s;
  position: relative;
  top: 7px;
  left: 0;
}
.header .nav__toggler--icon::before, .header .nav__toggler--icon::after {
  display: inline-block;
  width: 4rem;
  height: 3px;
  background-color: #fff;
  border-radius: 5rem;
  transition: all 0.5s;
  content: "";
  border-radius: 5rem;
  position: absolute;
}
.header .nav__toggler--icon::before {
  top: -10px;
}
.header .nav__toggler--icon::after {
  top: 10px;
}
.header .nav__toggler.toggle .nav__toggler--icon {
  background-color: rgba(0, 0, 0, 0);
}
.header .nav__toggler.toggle .nav__toggler--icon::before {
  top: -4px;
  transform: rotate(-45deg);
}
.header .nav__toggler.toggle .nav__toggler--icon::after {
  top: -4px;
  transform: rotate(-135deg);
}
.header__text-box {
  text-align: center;
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header__text-box .header__btns {
  margin-top: 3.2rem;
}
.header__text-box .header__btns .btn {
  margin: 0 0.5rem 1rem 0;
}
@media screen and (min-width: 576px) {
  .header__text-box .header__btns .btn:first-child {
    margin-right: 2rem;
  }
}

.btn {
  width: 15rem;
  display: inline-block;
  background-color: #ccc;
  padding: 1rem 2rem;
  border-radius: 5rem;
  font-weight: 700;
}
.btn-fill {
  background-color: #fff;
  color: #ff525d;
}
.btn-outline {
  background-color: transparent;
  border: 1px solid #fff;
}
.btn-outline:hover {
  background-color: #ff7a85;
}

.feature {
  padding: 8rem 0;
  overflow: hidden;
  position: relative;
}
@media screen and (min-width: 1200px) {
  .feature {
    padding: 15rem 0 25rem 0;
  }
}
.feature__heading {
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .feature__box {
    display: block;
  }
}
.feature__illustration {
  height: 30rem;
  width: 100%;
  background-image: url("../../images/illustration-editor-mobile.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
@media screen and (min-width: 768px) {
  .feature__illustration {
    height: 35rem;
  }
}
@media screen and (min-width: 1200px) {
  .feature__illustration {
    width: 100%;
    height: 75rem;
    background-image: url("../../images/illustration-editor-desktop.svg");
    margin-left: 10rem;
    background-position: right center;
    position: absolute;
    top: 5rem;
    right: -23rem;
  }
}
.feature__items {
  margin: 3rem 0 0 0;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .feature__items {
    margin-top: 5rem;
  }
}
@media screen and (min-width: 1200px) {
  .feature__items {
    width: 50%;
    padding: 0 0rem 0 10rem;
    margin-top: 6rem;
    text-align: left;
  }
}
.feature__items .feature__item {
  margin-bottom: 4rem;
  padding: 0 1rem;
}

/*# sourceMappingURL=main.css.map */
