html {
  font-size: 50%;
}
@media screen and (min-width: 576px) {
  html {
    font-size: 62.5%;
  }
}
@media screen and (min-width: 992px) {
  html {
    font-size: 68.75%;
  }
}

body {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: #fff;
}

body {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
}

.heading-primary {
  font-family: "overpass";
  color: #fff;
  font-size: 4.2rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.heading-secondary {
  font-family: "overpass";
  color: #1f3f5b;
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.heading-tertiary {
  font-family: "overpass";
  color: #1f3f5b;
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.header__heading--sub {
  font-family: "overpass";
  color: #fff;
  font-size: 1.6rem;
  font-weight: 300;
  margin-bottom: 1.5rem;
}

.header__heading--primary {
  font-size: 3.6rem;
}
@media screen and (min-width: 992px) {
  .header__heading--primary {
    font-size: 4.2rem;
  }
}

.item__text {
  color: #4b5862;
  font-weight: 300;
  line-height: 2;
}

.feature--two .feature__item {
  text-align: center;
}
.feature--two .feature__item .item__heading {
  text-transform: capitalize;
  color: #fff;
  font-size: 3.2rem;
}
@media screen and (min-width: 768px) {
  .feature--two .feature__item .item__heading {
    font-size: 3.4rem;
  }
}
.feature--two .feature__item .item__text {
  color: #f7f7f7;
}

.container {
  width: 95%;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .container {
    margin: 0 auto;
    width: 90%;
  }
}

.flex-row-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.my-3 {
  margin: 3rem 0;
}

.my-6 {
  margin: 6rem 0;
}

.mb-3 {
  margin-bottom: 3rem;
}

.py-10 {
  padding: 10rem 0;
}

.text-center {
  text-align: center;
}

.header-bg {
  position: relative;
  min-height: 60rem;
  height: 65vh;
  background-image: linear-gradient(to right bottom, rgba(255, 143, 112, 0.8), #ff3d54), url(../../images/bg-pattern-intro.svg);
  background-position: center;
  border-radius: 0 0 0 8rem;
  background-repeat: no-repeat;
}
@media screen and (min-width: 1200px) {
  .header-bg {
    height: 80vh;
  }
}
.header .nav {
  padding: 2rem;
  display: flex;
}
@media screen and (min-width: 768px) {
  .header .nav {
    padding: 3rem 12rem;
  }
}
.header .nav__logo--link {
  color: #fff;
  font-size: 4rem;
  text-decoration: none;
}
.header .nav__toggler {
  margin: 1.3rem 0 0 auto;
  cursor: pointer;
}
.header .nav__toggler--icon {
  display: inline-block;
  width: 4rem;
  height: 3px;
  background-color: #fff;
  border-radius: 5rem;
  transition: all 0.5s;
  position: relative;
  top: 7px;
  left: 0;
}
.header .nav__toggler--icon::before, .header .nav__toggler--icon::after {
  display: inline-block;
  width: 4rem;
  height: 3px;
  background-color: #fff;
  border-radius: 5rem;
  transition: all 0.5s;
  content: "";
  border-radius: 5rem;
  position: absolute;
}
.header .nav__toggler--icon::before {
  top: -10px;
}
.header .nav__toggler--icon::after {
  top: 10px;
}
.header .nav__toggler.toggle .nav__toggler--icon {
  background-color: rgba(0, 0, 0, 0);
}
.header .nav__toggler.toggle .nav__toggler--icon::before {
  top: -4px;
  transform: rotate(-45deg);
}
.header .nav__toggler.toggle .nav__toggler--icon::after {
  top: -4px;
  transform: rotate(-135deg);
}
.header__text-box {
  text-align: center;
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header__text-box .header__btns {
  margin-top: 3.2rem;
}
.header__text-box .header__btns .btn {
  margin: 0 0.5rem 1rem 0;
}
@media screen and (min-width: 576px) {
  .header__text-box .header__btns .btn:first-child {
    margin-right: 2rem;
  }
}

.btn {
  width: 15rem;
  display: inline-block;
  background-color: #ccc;
  padding: 1rem 2rem;
  border-radius: 5rem;
  font-weight: 700;
}
.btn-fill {
  background-color: #fff;
  color: #ff525d;
}
.btn-fill:hover {
  background-color: #ff525d;
  color: #fff;
}
.btn-outline {
  background-color: transparent;
  border: 1px solid #fff;
}
.btn-outline:hover {
  background-color: #fff;
  color: #ff525d;
}

.feature--one {
  padding: 8rem 0 30rem 0;
  overflow: hidden;
  position: relative;
}
@media screen and (min-width: 1200px) {
  .feature--one {
    padding: 15rem 0 30rem 0;
  }
}
.feature--one .feature__heading {
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .feature--one .feature__box {
    display: block;
  }
}
.feature--one .feature__illustration {
  width: 100%;
  background-image: url("../../images/illustration-editor-mobile.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  position: static;
  height: 30rem;
}
@media screen and (min-width: 768px) {
  .feature--one .feature__illustration {
    height: 35rem;
  }
}
@media screen and (min-width: 1200px) {
  .feature--one .feature__illustration {
    width: 100%;
    background-image: url("../../images/illustration-editor-desktop.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    height: 75rem;
    background-position: right center;
    top: 5rem;
    right: -23rem;
    margin-left: 10rem;
  }
}
.feature--one .feature__items {
  margin: 3rem 0 0 0;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .feature--one .feature__items {
    margin-top: 5rem;
  }
}
@media screen and (min-width: 1200px) {
  .feature--one .feature__items {
    width: 50%;
    padding: 0 0rem 0 10rem;
    margin-top: 6rem;
    text-align: left;
  }
}
.feature--one .feature__items .feature__item {
  margin-bottom: 4rem;
  padding: 0 1rem;
}

.feature--two {
  position: relative;
  margin-bottom: 100rem;
}
.feature--two .feature__box {
  min-height: 60rem;
  height: 75vh;
  position: relative;
  overflow: hidden;
  border-radius: 0 8rem 0 8rem;
  background-image: linear-gradient(to right bottom, #292a3c, #3e4164);
}
@media screen and (min-width: 576px) {
  .feature--two .feature__box {
    height: 60vh;
  }
}
@media screen and (min-width: 1200px) {
  .feature--two .feature__box {
    min-height: 30rem;
    height: 45vh;
  }
}
.feature--two .feature__box .feature__illustration-circle {
  width: 100%;
  background-image: url("../../images/bg-pattern-circles.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  min-height: 30rem;
  height: 70vh;
  top: -25vh;
  left: 0;
  transform: scale(1.4);
}
@media screen and (min-width: 576px) {
  .feature--two .feature__box .feature__illustration-circle {
    height: 65vh;
  }
}
@media screen and (min-width: 1200px) {
  .feature--two .feature__box .feature__illustration-circle {
    min-height: 50rem;
    height: 70vh;
    width: 50%;
    left: -5vw;
    top: -80%;
    transform: scale(1.8);
  }
}
.feature--two .feature__box .feature__item {
  position: absolute;
  padding: 0 2rem;
  top: 40%;
  left: 0;
  z-index: 2;
}
@media screen and (min-width: 768px) {
  .feature--two .feature__box .feature__item {
    top: 50%;
    transform: translate(0, -50%);
    padding: 0 5rem;
  }
}
@media screen and (min-width: 1200px) {
  .feature--two .feature__box .feature__item {
    text-align: left;
    margin-left: 50%;
    padding: 5rem;
  }
}
.feature--two .feature__illustration-phone {
  width: 100%;
  background-image: url("../../images/illustration-phones.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  min-height: 35rem;
  height: 50vh;
  top: -25vh;
  left: 0;
}
@media screen and (min-width: 768px) {
  .feature--two .feature__illustration-phone {
    height: 45vh;
    top: -22vh;
  }
}
@media screen and (min-width: 1200px) {
  .feature--two .feature__illustration-phone {
    min-height: 45rem;
    height: 70vh;
    top: -25%;
    width: 40%;
    left: 0;
  }
}

/*# sourceMappingURL=main.css.map */
