@import "../abstracts/variables";

.feature {
  &__heading {
    text-align: center;
  }
  // div
  &__illustration {
    height: 50vh;
    width: 100%;
    background-image: url("../../images/illustration-editor-mobile.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  &__items {
    margin-top: 4rem;
    padding: 0 5rem;
    .feature__item {
      margin-bottom: 5rem;
      p {
        font-size: 1.8rem;
        color: $body-color;
        font-weight: 300;
        line-height: 2;
      }
    }
  }
}
