@import "../abstracts/variables";
@import "../abstracts/mixins";

.feature {
  padding: 8rem 0;
  overflow: hidden;
  &__heading {
    text-align: center;
  }

  // box = items + illusteration
  &__box {
    @include media-breakpoint-up(xl) {
      flex-direction: row;
    }
  }

  &__illustration {
    height: 40vh;
    width: 100%;
    background-image: url("../../images/illustration-editor-mobile.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    @include media-breakpoint-up(md) {
      min-height: 50vh;
    }

    @include media-breakpoint-up(xl) {
      order: 2;
      width: 100%;
      height: 70vh;
      background-image: url("../../images/illustration-editor-desktop.svg");
      margin-left: 10rem;
      background-position: right center;
    }
  }

  &__items {
    margin: 3rem 0 0 0;
    text-align: center;
    @include media-breakpoint-up(md) {
      margin-top: 5rem;
    }
    @include media-breakpoint-up(xl) {
      padding: 0 15rem;
      margin-top: 3rem;
      text-align: left;
    }
  }
}
