@use "../abstracts/variables";
@use "../abstracts/mixins";

.header {
  &-bg {
    position: relative;
    min-height: 60rem;
    height: 65vh;
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-secondary, 0.8),
        rgba($color-primary, 1)
      ),
      url(../../images/bg-pattern-intro.svg);
    background-position: center;
    border-radius: 0 0 0 $sec-border-radius;
    background-repeat: no-repeat;

    @include media-breakpoint-up(xl) {
      height: 80vh;
    }
  }

  .nav {
    display: flex;
    padding: 3rem;
    @include media-breakpoint-up(sm) {
      padding: 3rem 6rem;
    }

    &__logo {
      @include media-breakpoint-up(md) {
        margin-right: auto;
      }
      @include media-breakpoint-up(lg) {
        margin-right: 4rem;
      }
      @include media-breakpoint-up(xl) {
        margin-right: 8rem;
      }
    }

    // navigation links' container
    &__nav {
      display: none;
      @include media-breakpoint-up(md) {
        display: flex;
        margin-top: 2rem;
      }
    }

    &__item {
      position: relative;
      margin-right: 1.6rem;

      .nav__sub-menu {
        display: none;
        position: absolute;
        padding: 2rem 4rem 2rem 2rem;
        background-color: #fff;
        border-radius: 0.8rem;
        box-shadow: 0 0 5rem -2rem #444;

        // left = sub-menu__paddingLeft + sub-menu_link__paddingLeft
        left: -3.2rem;
        top: 3rem;
        // higher z-index = 5 bc of conflict with nav_text-box
        z-index: 5;

        .sub-menu__item {
          list-style: none;

          .sub-menu__link {
            display: block;
            color: #000;
            font-size: 1.4rem;
            font-weight: 300;
            padding: 0.4rem 1.2rem;
            &:hover {
              font-weight: bold;
            }
            // solving width problem when the text turn into bold
            &::before {
              display: block;
              content: attr(data-title);
              font-weight: bold;
              height: 0;
              overflow: hidden;
              visibility: hidden;
            }
          }
        }
      }

      &:hover .nav__sub-menu {
        display: block;
      }

      &:hover {
        text-decoration: underline;
        font-weight: 500;
        color: #fff;
        & .nav__link-arrow {
          transform: rotateX(180deg);
        }
      }
    }

    &__link {
      display: block;
      font-size: 1.5rem;
      padding-bottom: 1rem;
      &-arrow {
        display: inline-block;
        width: 1rem;
        height: 1rem;
        background-image: url(../../images/icon-arrow-light.svg);
        background-repeat: no-repeat;
        background-position: 0 55%;
        margin-left: 1rem;
        transform: scale(1.2);
      }

      &::before {
        display: block;
        content: attr(data-view);
        font-weight: 500;
        height: 0;
        padding: 0rem 1rem;
        overflow: hidden;
        visibility: hidden;
      }
    }

    &__btn-group {
      margin: 1.5rem 0 0 auto;
      display: none;
      @include media-breakpoint-up(lg) {
        display: block;
        .btn {
          width: 12rem;
        }
      }
    }

    &__toggler {
      margin: 0.9rem 0 0 auto;
      cursor: pointer;
      @include media-breakpoint-up(md) {
        display: none;
      }

      &--icon {
        @include togglerIcon();
        position: relative;
        top: 7px;
        left: 0;
      }

      &--icon::before,
      &--icon::after {
        @include togglerIcon();
        content: "";
        border-radius: 5rem;
        position: absolute;
      }

      &--icon::before {
        top: -10px;
      }
      &--icon::after {
        top: 10px;
      }

      // toggle x when clicked
      &.toggle .nav__toggler--icon {
        background-color: rgba($color: #000000, $alpha: 0);
        &::before {
          top: -4px;
          transform: rotate(-45deg);
        }
        &::after {
          top: -4px;
          transform: rotate(-135deg);
        }
      }
    }
  }

  &__text-box {
    text-align: center;

    // width to fix mobile version problem
    min-width: 90%;

    @include absoluteCenter;
    .header__btns {
      margin-top: 3.2rem;
      .btn {
        margin: 0 0.5rem 1rem 0;
        &:first-child {
          @include media-breakpoint-up(sm) {
            margin-right: 2rem;
          }
        }
      }
    }
  }
}
