html {
  // This defines what 1rem is
  font-size: 50%;
  @include media-breakpoint-up(sm) {
    font-size: 62.5%;
  }
  @include media-breakpoint-up(lg) {
    font-size: 68.75%;
  }
}

body {
  box-sizing: border-box;
}
