@import "../abstracts/variables";
body {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
}

.heading-primary {
  font-family: "overpass";
  color: #fff;
  font-size: $heading-primary-font-size;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.heading-secondary {
  font-family: "overpass";
  color: $heading-color;
  font-size: $heading-secondary-font-size;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.heading-tertiary {
  font-family: "overpass";
  color: $heading-color;
  font-size: $heading-tertiary-font-size;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.header__heading--sub {
  font-family: "overpass";
  color: #fff;
  font-size: 1.6rem;
  font-weight: 300;
  margin-bottom: 1.5rem;
}

// header
.header {
  &__heading--primary {
    font-size: 3.6rem;

    @include media-breakpoint-up(lg) {
      font-size: 4.2rem;
    }
  }
}

// feature section
.feature {
  &__item {
    .item__text {
      color: $body-color;
      font-weight: 300;
      line-height: 2;
    }
  }
}
