@import "../abstracts/variables";

body {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
}

// header
.header {
  .nav__logo--link {
    font-size: 4rem;
    color: #fff;
    text-decoration: none;
  }

  &__heading--primary {
    @include media-breakpoint-up(lg) {
      font-size: 4.2rem;
    }
  }
}

// feature section
.features {
  .item__text {
    color: $body-color;
    font-weight: 300;
    line-height: 2;
  }

  .feature--two {
    .feature__item {
      text-align: center;

      .item__heading {
        text-transform: capitalize;
        color: #fff;
        font-size: 2.4rem;
        @include media-breakpoint-up(md) {
          font-size: 2.8rem;
        }
      }
      .item__text {
        color: #f7f7f7;
        @include media-breakpoint-up(md) {
          font-size: 1.4rem;
        }
      }
    }
  }
}

// footer
.footer__nav {
  .nav {
    &__logo--link {
      font-size: 4rem;
      color: #fff;
      text-decoration: none;
    }

    &__heading {
      font-size: 2rem;
      margin-bottom: 1rem;
      color: $color-white;
      text-transform: capitalize;
      @include media-breakpoint-up(sm) {
        font-size: 1.6rem;
      }
      @include media-breakpoint-up(lg) {
        font-size: 1.5rem;
      }
    }

    &__link {
      font-size: 1.75rem;
      text-transform: capitalize;
      color: rgba($color: #fff, $alpha: 0.8);
      @include media-breakpoint-up(sm) {
        font-size: 1.6rem;
      }
      @include media-breakpoint-up(lg) {
        font-size: 1.33rem;
      }
    }
  }
}
