@import "../abstracts/mixins";
@import "../abstracts/variables";

.container {
  width: 95%;
  margin: 0 auto;
  @include media-breakpoint-up(md) {
    margin: 0 auto;
    width: 90%;
  }
}

.flex-row-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-center {
  text-align: center;
}
