@import "../abstracts/mixins";
@import "../abstracts/variables";

.container {
  width: 95%;
  margin: 0 auto;
  @include media-breakpoint-up(md) {
    margin: 0 auto;
    width: 90%;
  }
}

.flex-row-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.my-3 {
  margin: 3rem 0;
}

.my-6 {
  margin: 6rem 0;
}

.mb-3 {
  margin-bottom: 3rem;
}

.py-10 {
  padding: 10rem 0;
}

.text-center {
  text-align: center;
}
