$default-font-size: 1.6rem;

// colors (text)
$text-primary: #ff525d;
$text-primary-light: #ff7a85;
$heading-color: #1f3f5b;
$body-color: #4b5862;

// color
$color-primary: #ff3d54;
$color-primary-secondary: #ff8f70;
$color-white: #fff;

$grid-breakpoint: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

$heading-primary-font-size: 4.2rem;
$heading-secondary-font-size: 3rem;
$heading-tertiary-font-size: 2.4rem;
